@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --dark-blue: hsl(217, 28%, 15%);
  --dark-blue-bg: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);

  /* Accent */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  
  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

body {
  @apply text-sm font-open-sans;
}